<div class="container mt-4">

<div *ngIf="mensajeVoto" class="alert alert-warning text-center">
{{ mensajeVoto }}
</div>
<h2>Temas del Foro</h2>
<form *ngIf="usuarioLogueado" (ngSubmit)="crearTema()" class="mb-4 card card-body">
  <div class="mb-3">
    <label class="form-label">Título</label>
    <input type="text" [(ngModel)]="titulo" name="titulo" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Contenido</label>
    <textarea [(ngModel)]="contenido" name="contenido" class="form-control" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Crear Tema</button>
  <span class="ms-3 text-success" *ngIf="mensaje">{{ mensaje }}</span>
</form>
<p *ngIf="!usuarioLogueado">Debes iniciar sesión para crear un tema.</p>


<div class="accordion" id="temasAccordion">
<div class="accordion-item" *ngFor="let tema of temas; let i = index">
  <h2 class="accordion" id="heading{{i}}">
    <button class="accordion-button collapsed" type="button"
      data-bs="collapse"
      [attr.data-bs-target]="'#collapse' + i"
      aria-expanded="false"
      [attr.aria-controls]="'collapse' + i">
      {{ tema.titulo }}
    </button>
  </h2>
  <div [id]="'collapse' + i" class="accordion-collapse collapse"
       [attr.aria-labelledby]="'heading' +"
       data-bs-parent="#temasAccordion">
    <div class="accordion-body">

      <!-- Edición inline -->
      <ng-container *ngIf="temaEditando?.id !== tema.id; else edicionTema">
        <p class="-text">{{ tema.contenido }}</p>
        <button *ngIf="esAdmin" class="btn btn-danger btn-sm me-2" (click)="eliminarTema(tema.id!)">Eliminar</button>
        <button *ngIf="esAdmin" class="btn btn-warning btn-sm" (click)="editarTema(tema)">Editar</button>
        <p class="text-muted mb1">
          Publicado por <b>{{ tema.username }}</b>
          el {{ tema.fechaCreacion | date:'short' }}
        </p>
        <div>
          <button *ngIf="usuarioLogueado" class="btn btn-outline-success btn-sm me-2" (click)="votarPositivo(tema.id!)">
            👍 {{ tema.votositivos || 0 }}
          </button>
          <button *ngIf="usuarioLogueado" class="btn btn-danger btn-sm me-2" (click)="votarNegativo(tema.id!)">
            👎 {{ tema.votosNegativos || 0 }}
          </button>
        </div>
        <app-comentarios [temaId]="tema.id!"></app-comentarios>
      </ng-container>

      <ng-template #edicionTema>
        <input [(ngModel)]="nuevoTitulo" class="form-control mb-2" placeholder="Nuevo título">
        <textarea [(ngModel)]="nuevoContenido" class="form-control mb-2" placeholder="Nuevo contenido"></textarea>
        <button class="btn btn-success btn-sm me-2" (click)="guardarEdicion()">Guardar</button>
        <button class="btn btn-secondary-sm" (click)="cancelarEdicion()">Cancelar</button>
      </ng-template>

    </div>
  </div>
</div>
</div>
</div>